body {
    background-image: url("/javasmuse.github.io/resources/background.jpg")
   background-attachment: fixed;
   background-size: cover; 
   z-index: -1;
   width: 100%;
   position: absolute;
   background: rgba(68, 68, 68, 0.9); 

}